.myshows{
    font-size: 18px;
    font-family: baumans;
    color: white;
    padding-left: 20px;
    padding-top: 30px;

}
.othershowdet4{
    width: 19px; 
      display: inline-block; 
      letter-spacing: 1px;
    margin-top: 35px;
    margin-left: -380px;
  
 
}
.editshows2{
   padding-top: 30px;
    margin-top: -150px;
    margin-left:70px;
    margin-right: -0px;
}
