.logindiv{
    height:100%;
    width:50%;
   position: absolute; 
    top:0%;
    right:0%;
     background-color: rgba(0,0,0,0.3); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
      border-radius: 100px 0px 0px 100px;
}
.login-container {
  height: 95.5vh;  
  width: 98.9vw;   
  /* background-image: url('../assets/logoskyveil.jpg');  */
  background-size: cover;
  background-position: 52% center;


}
.logintext{
    margin-top: 200px;
    text-align: center;
    font-family: baumans;
    font-size: 30px;
    top:30%;
    color: white;
}

.email{
    display: block;
    padding-top: 60px;
    margin-left: 10%;
    color:white;
}


.email input {
  color: white;
  margin-left: 75px; 
  font-size: 20px;
  padding: 5px 16px;
  border:none;
  border-radius: 4px;
  transition: all 0.3s ease;
  outline:none;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 8ps  rgba(0, 0, 0, 0.3);
}
.email input::placeholder{
      color: #a0a0a0;

}
.email input:focus {

  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.aligncenter {

  margin-left: 100px;
}





.password{
    display: block;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 10%;
    color:white;
}


.password input {
  color: white;
  margin-left: 30px; 
  font-size: 20px;
  padding: 5px 16px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  outline:none;
    background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 8ps  rgba(0, 0, 0, 0.3);
}
.password input::placeholder{
      color: #a0a0a0;

}
.password input:focus {
  border-color: #1c54b2;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
   background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}
.accountcheck{
    margin-left:67px;
    color:white;
}
.clicktosignup{
    float: right;
    margin-right: 195px;
    margin-top: -35px;
    color: #a0a0a0;
}
.next-btn{
    font-family: baumans;
    padding: 8px;
    width:70px;
    border-radius: 5px;
    border:none;
    background-color: rgb(72, 72, 72);
    color: white;
    font-weight: 200;
    transition: background-color 0.3s ease 0.2s;
    margin-left: 405px;
}
.next-btn:hover{
    background-color: #691ad0;
}
@media (min-width: 600px) and (max-width: 1400px) {
  .logintext{
    font-size: 20px;
  }
  .email{
    font-size: 12px;
    margin-left: -20px;

    
  }
  .email input{
    font-size: 10px;
     display: block;
  margin: 0 auto;
  width: 80px;
  margin-top: -15px;
  margin-right: 80px;

  }
  .password{
    font-size: 12px;
    margin-left: -20px;
    
  }
  .password input{
    font-size: 10px;
     display: block;
  margin: 0 auto;
  width: 80px;
  margin-top: -15px;
  margin-right: 80px;
  }
  .accountcheck{
    font-size: 8px;
    margin-left: -20px;
    margin-top: -20px;
  }
  .clicktosignup{
    font-size: 8px;
    margin-top: -17px;
     margin-right: 83px;
  }
  .next-btn{
  
    font-size: 10px;
    height:25px;
    width: 40px;
    font-size: 8px;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
  }

}